{% extends "otakuProjectnendoroidBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - List{% endblock %}
{% block body %}
<div class="bodyListContent">
	<header>
		<h2 style="margin-left: 15px;">Nendoroids</h2>
		<div class="rangeContent">
			<p class="rangeSet rangeSetInactive"> 801 - 900<i class="fas fa-caret-down"></i></p>
			<div id="001-100" class="rangeButton button hvr-shrink"></i>001 - 100</div>
			<div id="101-200" class="rangeButton button hvr-shrink"></i>101 - 200</div>
			<div id="201-300" class="rangeButton button hvr-shrink"></i>201 - 300</div>
			<div id="301-400" class="rangeButton button hvr-shrink"></i>301 - 400</div>
			<div id="401-500" class="rangeButton button hvr-shrink"></i>401 - 500</div>
			<div id="501-600" class="rangeButton button hvr-shrink"></i>501 - 600</div>
			<div id="601-700" class="rangeButton button hvr-shrink"></i>601 - 700</div>
			<div id="701-800" class="rangeButton button hvr-shrink"></i>701 - 800</div>
			<div id="801-900" class="rangeButton button hvr-shrink"></i>801 - 900</div>
		</div>
		<input type="text" name="searchBarNendoroids" placeholder="search" />
		<div class="menuButton actionButton hvr-shrink menuInactive" ><i class="hvr-shrink fas fa-list-ul"></i><p>Menu</p></div>
	</header>

		<nav class="subNav">
			<div class="myProfilButton" ><a href="{{ path('otaku_project_user', {username : app.user.username }) }}"><i class=" fas fa-user"></i><p>My profil</p></a></div>
			<div class="showUsersButton" ><i class=" fas fa-users"></i><p>Show users</p></div>
			<div class="showNendoroidsButton" ><i class=" fas fa-list-ul"></i><p>Show nendoroids</p></div>
			<div class="logoutButton" ><a href="{{ path('fos_user_security_logout') }}"><i class="hvr-shrink fas fa-power-off"></i><p>Log out</p></a></div>
		</nav>

	<div class="showListButton"><i class="far fa-times-circle hvr-shrink"></i></div>

	<!-- Frame -->
	<section id="nendoroidsList">
		<div class="content">
			<div class="leftColumn"></div>
			<div class="rightColumn"></div>
		</div>
		<div class="response"></div>
	</section>
	<!-- Frame End -->
</div>

	<script>
		$(document).ready( function(){

			generateAllNendo();

			var menuCloseButton = $(".menuCloseButton");
			var menuOpenButton = $(".menuOpenButton");
			var profilButton = $(".getProfil");
			var loadScreen = $('.loadScreen');
			var rangeButton = $(".rangeButton");
			var rightColumn = $(".rightColumn");
			var leftColumn = $(".leftColumn");
			var blockResponse = $(".response");
			var header = $("header");
			var headerH = $("header").height();
			var rangeButtonH = rangeButton.height();
			var subNav = $(".subNav");
			var subNavH = $(".subNav").height();

			$("header h2").animate({left:0},500);

			profilButton.on("click", function(){
				loadScreen.fadeIn();
			});

			$(".menuButton").on("click", function(){
				if($(this).hasClass("menuActive"))
				{
					subNav.animate({"top":"-200px", opacity:0},500);
					$(this).removeClass("menuActive");
					$(this).addClass("menuInactive");
				}
				else
				{
					subNav.animate({"top":headerH, opacity:1},500);
					$(this).addClass("menuActive");
					$(this).removeClass("menuInactive");	
				}
			});

			$(".showUsersButton").on("click", function(){
				generateAllUsers();
				subNav.animate({"top":"-200px", opacity:0},500)
				$(".menuButton").removeClass("menuActive");
			});

			$(".showNendoroidsButton").on("click", function(){
				generateAllNendo();
				subNav.animate({"top":"-200px", opacity:0},500)
				$(".menuButton").removeClass("menuActive");
			});

			$(".logoutButton").on("click", function(){
				subNav.animate({"top":"-200px", opacity:0},500)
				$(".menuButton").removeClass("menuActive");
			});

			subNav.css("height", subNavH);

			$(".rangeSet").on("click",function(){
				if($(this).hasClass("rangeSetInactive"))
				{
					$(this).removeClass("rangeSetInactive");
					$(this).addClass("rangeSetActive");
					$("#001-100").animate({top: rangeButtonH*2,opacity:1},500,);
					$("#101-200").animate({top: rangeButtonH*3+10,opacity:1},500,);
					$("#201-300").animate({top: rangeButtonH*4+20,opacity:1},500,);
					$("#301-400").animate({top: rangeButtonH*5+30,opacity:1},500,);
					$("#401-500").animate({top: rangeButtonH*6+40,opacity:1},500,);
					$("#501-600").animate({top: rangeButtonH*7+50,opacity:1},500,);
					$("#601-700").animate({top: rangeButtonH*8+60,opacity:1},500,);
					$("#701-800").animate({top: rangeButtonH*9+70,opacity:1},500,);
					$("#801-900").animate({top: rangeButtonH*10+80,opacity:1},500,);

				}
				else
				{
					$(this).removeClass("rangeSetActive");
					$(this).addClass("rangeSetInactive");
					$(".rangeButton").animate({top: "-50px",opacity:0},500,);
				}
			});

			$(".rangeButton").on("click", function(){
				$(".rangeButton").removeClass("buttonActive");
				$(this).addClass("buttonActive");
				var mavar = $(this).text();
				$(".rangeSet").text(mavar);
				var mav2 = $(".rangeButton").height();
				$(".rangeButton").animate({top:mav2*2, opacity:0},300);
			});

			$(".showListButton").on("click", function(){
				$(".rightColumn").animate({bottom:0}, 500);
				$(".subNav").animate({top:"-200px"},500);
				header.animate({top:0},500);
				$(this).fadeOut();
			});

			$("input").keyup(function(){
				var mot = $( this ).val();
				if (mot !== ''){
					$.ajax({
						url: "{{ path('search_nendoroid_ajax') }}",
						method: "post",
						data: {key : mot}
					})
					.done(function(data){
						var nendoroids = data['nendoroids'];
						generateNendoroidCard(nendoroids);
						getAllLists()
						$(".leftColumn").fadeIn();
					});
				} 
				else 
				{
					$(".leftColumn").fadeIn();
					generateAllNendo();
					getAllLists()
				}
			});

			$(".rangeButton").on("click",function(){
				$(".leftColumn").fadeIn();
				var page = $(this).attr("id");
				$.ajax({
					url: "{{ path('generate_list_range_ajax') }}",
					method: "post",
					data: {range : page}
				})
				.done(function(data){
					var nendoroids = data['nendoroids'];
					generateNendoroidCard(nendoroids);
					getAllLists()
				});
			});
		});

		function generateNendoroidCard(nendoroids){
			var rightColumn = $(".rightColumn");
			var listH = rightColumn.height();
			var leftColumn = $(".leftColumn");
			var blockResponse = $(".response");
			var nendoroid = nendoroids;
			console.log(nendoroids);
			rightColumn.html('');

			$.each(nendoroids, function(n, nendoroid){
				$("<div/>", {
					id: nendoroid['id'],
					"class": "cardNendo",
					style: "background-image: url('/otakuProject/web/images/nendoroids/"+nendoroid['number']+".jpg');",
					mouseover: function(){
						$(".cardNendoNumber"+nendoroid['id']+", .cardNendoName"+nendoroid['id']).addClass("testeffect");
						$(".cardNendoMoreInformations"+nendoroid['id']).addClass("testeffect2");

					},
					mouseleave: function(){
						$(".cardNendoNumber"+nendoroid['id']+", .cardNendoName"+nendoroid['id']).removeClass("testeffect");
						$(".cardNendoMoreInformations"+nendoroid['id']).removeClass("testeffect2");
					}
				}).appendTo(".rightColumn");

				$("<div/>", {
					"class": "cardNendoContent cardNendoContent"+nendoroid['id']
				}).appendTo("#"+nendoroid['id']);

				$("<div/>", {
					"class": "cardNendoInnerBorder cardNendoInnerBorder"+nendoroid['id']
				}).appendTo(".cardNendoContent"+nendoroid['id']);

				$("<div/>", {
					"class": "cardNendoLikeButtonBox cardNendoLikeButtonBox"+nendoroid['id']
				}).appendTo(".cardNendoInnerBorder"+nendoroid['id']);

				$("<i/>", {
					"class": "far fa-heart notLiked cardNendoLikeButton"+nendoroid['id']+" hvr-shrink",
					click: function(){

 						$(this).addClass("hvr-push");

 						if($(this).hasClass("notLiked"))
 						{
 							$(this).removeClass("notLiked");
 							$(this).addClass("liked");
 							$(this).removeClass("far");
 							$(this).addClass("fas");

	 						$.ajax({
	 							url: "{{ path('nendoroid_ajax') }}",
	 							method: "post",
	 							data: {idNendo : nendoroid['id'], action : "addLike"}
	 						})
	 						.done(function(data){
	 							$(".cardNendoLikeButton"+nendoroid['id']).addClass('fas');

	 							var response = data['message'];
	 							blockResponse.css("background-color", "lightgreen");
	 							blockResponse.text(response[0]['message']);
	 							blockResponse.addClass("responseActive");
	 							setTimeout(function () {
	 								$('.response').removeClass("responseActive");
	 							}, 1500);
	 						})
	 						.fail(function(){
	 							blockResponse.text("Something went wrong");
	 							blockResponse.css("background-color", "red");
	 							blockResponse.addClass("responseActive");
	 							setTimeout(function () {
	 								blockResponse.removeClass("responseActive");
	 							}, 1500);
	 						});
 						}
 						else 
 						{
 							$(this).addClass("notLiked");
 							$(this).addClass("far");
 							$(this).removeClass("liked");
 							$(this).removeClass("fas");
 							$.ajax({
	 							url: "{{ path('nendoroid_ajax') }}",
	 							method: "post",
	 							data: {idNendo : nendoroid['id'], action : "removeLike"}
	 						})
	 						.done(function(data){
	 							$(".cardNendoLikeButton"+nendoroid['id']).addClass('far');

	 							var response = data['message'];
	 							blockResponse.css("background-color", "lightgreen");
	 							blockResponse.text(response[0]['message']);
	 							blockResponse.addClass("responseActive");
	 							setTimeout(function () {
	 								$('.response').removeClass("responseActive");
	 							}, 1500);
	 						})
	 						.fail(function(){
	 							blockResponse.text("Something went wrong");
	 							blockResponse.css("background-color", "red");
	 							blockResponse.addClass("responseActive");
	 							setTimeout(function () {
	 								blockResponse.removeClass("responseActive");
	 							}, 1500);
	 						});
 						}

 					}
				}).appendTo(".cardNendoLikeButtonBox"+nendoroid['id']);

				$("<div/>", {
					"class": "cardNendoNumber cardNendoNumber"+nendoroid['id'],
					text: "#"+nendoroid['number']
				}).appendTo(".cardNendoInnerBorder"+nendoroid['id']);
				
				$("<div/>", {
					"class": "cardNendoName cardNendoName"+nendoroid['id'],
					text: nendoroid['name']
				}).appendTo(".cardNendoInnerBorder"+nendoroid['id']);

				$("<div/>", {
					"class": "cardNendoMoreInformations cardNendoMoreInformations"+nendoroid['id']+" hvr-shrink",
					text: "info",
					click: function(){
						var headerH = $("header").height();

						$(".leftColumn").html("");
						$(".rightColumn").animate({bottom : -listH},500);
						$("header").animate({top : -headerH},500);
						$(".subNav").animate({top: "-200px"},500);
						$(".showListButton").fadeIn();

						$("<div/>", {
							"class": "leftColumnContent"
						}).appendTo(".leftColumn");

						$("<div/>", {
							"class": "informationsName",
							text: nendoroid['name']
						}).appendTo(".leftColumnContent");

						$("<div/>", {
							"class": "imgContent"
						}).appendTo(".leftColumnContent");

						$("<img/>", {
							src: "/otakuProject/web/images/nendoroids/"+nendoroid['number']+".jpg"
						}).appendTo(".imgContent");

						$("<div/>", {
							"class": "actionButtons"
						}).appendTo(".leftColumnContent");

						$("<div/>", {
							"class": "addLikeButton"
						}).appendTo(".actionButtons");

						$("<div/>", {
							"class": "addCollectionButton"
						}).appendTo(".actionButtons");

						$("<div/>", {
							"class": "informationsNumber",
							text: "#"+nendoroid['number']
						}).appendTo(".leftColumnContent");
					}
				}).appendTo(".cardNendoInnerBorder"+nendoroid['id']);
			});
		}	

		function generateUser(users){
			var rightColumn = $(".rightColumn");
			var leftColumn = $(".leftColumn");
			var blockResponse = $(".response");
			
			console.log(users);
			rightColumn.html('');

			$.each(users, function(u, user){
				$("<div/>", {
					id: "user"+user['id'],
					"class": "cardUser hvr-shrink",
					text: user['username'],
					
					click: function(){

						var myuser = user['username'];
						var url = '{{ path("otaku_project_user", {'username': 'parameterValue'}) }}'; 
    					url = url.replace("parameterValue", myuser);
						window.location.href = url;
					}
				}).appendTo(".rightColumn");
			});
			
			$("<i/>", {
				"class": "fas fa-user"					
			}).appendTo(".cardUser");
		}

		function generateAllNendo(nendoroids){
			$.ajax({
				url: "{{ path('generate_list_ajax') }}",
				method: "post"
			})
			.done(function(data){
				var nendoroids = data['nendoroids'];
				generateNendoroidCard(nendoroids);
				getAllLists();
				$('.loadScreen').fadeOut(1000);
				// $("header h2").delay(1500).animate({left:0},1500);
			});
		}

		function generateAllUsers(users){
			$.ajax({
				url: "{{ path('list_users_ajax') }}",
				method: "post"
			})
			.done(function(data){
				var users = data['users'];
				generateUser(users);
				$('.loadScreen').fadeOut(1000);
			});
		}

		function getAllLists() {
			$.ajax({
				url: "{{ path('get_all_lists') }}",
				method: "post"
			})
			.done(function(data){
				var allLists = data['nendoroids'];
				console.log(allLists);
				$.each(allLists, function(n, nendoroid){
					$(".cardNendoLikeButton"+nendoroid['id']).addClass('fas');
					$(".cardNendoLikeButton"+nendoroid['id']).addClass('liked');
					$(".cardNendoLikeButton"+nendoroid['id']).removeClass('far');
					$(".cardNendoLikeButton"+nendoroid['id']).removeClass('notLiked');
				});
			});
		}
	</script>
{% endblock %}