{% extends "otakuProjectnendoroidBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - {{usernamesProfil}}{% endblock %}
{% block body %}
<span id="currentUser" style="display: none;">{{currentUser}}</span>
	<nav id="userListNav" class="userListNavClose">
		<i class="fas fa-bars navListButton hvr-shrink"></i>
		<div class="getListButton menuUserButton hvr-shrink">
			<a href="{{ path('nendoroids_list') }}">
				<i class="hvr-shrink fas fa-list-ul"></i>
				<p>Show list</p>
			</a>
		</div>
	
		<div class="showProfilButton menuUserButton hvr-shrink">
			<a href="{{ path('user_profil', {username : app.user.username }) }}">
				<i class="hvr-shrink fas fa-user"></i>
				<p>Show my profil</p>
			</a>
		</div>

		<div class="logoutButton menuUserButton hvr-shrink">
			<a href="{{ path('fos_user_security_logout') }}">
				<i class="hvr-shrink fas fa-power-off"></i>
				<p>Log out</p>	
			</a>
		</div>
	</nav>	

	<section id="userList">
		<div class="userListContent">
			<h1>{{usernamesProfil}}'s Collection</h1>
			<div class="list">

			</div>
		</div>
	</section>

	<script type="text/javascript">
		$(document).ready(function(){
			var loadScreen = $(".loadScreen");
			var menuUserButton = $(".menuUserButton");

			loadScreen.delay(1500).fadeOut(1000);

			menuUserButton.on("click", function(){
				loadScreen.fadeIn();
			});

			$(".navListButton").on("click", function(){
				if($("#userListNav").hasClass("userListNavClose")){
					$("#userListNav").removeClass("userListNavClose");
					$(this).removeClass("fa-bars").addClass("fa-times");
				}
				else
				{
					$("#userListNav").addClass("userListNavClose");
					$(this).addClass("fa-bars").removeClass("fa-times");	
				}
			});
			getListsUser();
		});
		
		function hideLikeButtons(){
				$("fa-heart").remove();
		}

		function getListsUser(){
			$.ajax({
				url: "{{ path('get_user_lists') }}",
				method: "post",
				data: {usernameTargetLists : "{{usernamesProfil}}" }
			})
			.done(function(nendoroidsArray){
				generateNendoroidCards(nendoroidsArray);
			});
		}

		function generateNendoroidCards(nendoroidsArray){
			var currentUser = $("#currentUser").text();
			var nendoroids = nendoroidsArray['nendoroids'];
			console.log(nendoroids);
			var nendoroidsList = $(".screenListNendoroids");
			nendoroidsList.html('');

			$.each(nendoroids, function(n, nendoroid){
				if(nendoroid['list'] != "none")
				{
					$("<div/>", {

						id: nendoroid['id'],
						"class": "cardNendo "+ nendoroid['list'],
						style: "background-image: url('/otakuProject/web/images/nendoroids/"+nendoroid['number']+".jpg');",

						mouseover: function(){
							$(".cardNendoNumber"+nendoroid['id']+", .cardNendoName"+nendoroid['id']).addClass("displayCardInformations");
							$(".cardNendoMoreInformations"+nendoroid['id']).addClass("displayButtonMoreInformations");
						},

						mouseleave: function(){
							$(".cardNendoNumber"+nendoroid['id']+", .cardNendoName"+nendoroid['id']).removeClass("displayCardInformations");
							$(".cardNendoMoreInformations"+nendoroid['id']).removeClass("displayButtonMoreInformations");
						}
					}).appendTo(".list");

					$("<div/>", {
						"class": "cardNendoContent cardNendoContent"+nendoroid['id']
					}).appendTo("#"+nendoroid['id']);

					$("<div/>", {
						"class": "cardNendoInnerBorder cardNendoInnerBorder"+nendoroid['id']
					}).appendTo(".cardNendoContent"+nendoroid['id']);

					$("<div/>", {
						"class": "cardNendoLikeButtonBox cardNendoLikeButtonBox"+nendoroid['id']
					}).appendTo(".cardNendoInnerBorder"+nendoroid['id']);

					if(currentUser == "true"){
						$("<i/>", {
							"class": "fas fa-heart liked cardNendoLikeButton"+nendoroid['id']+" hvr-shrink",
							click: function(){
									$("#"+nendoroid['id']).remove();
									nendoAction(nendoroid['id'], "removeLike");
								}
						}).appendTo(".cardNendoLikeButtonBox"+nendoroid['id']);
					}

					$("<div/>", {
						"class": "cardNendoNumber cardNendoNumber"+nendoroid['id'],
						text: "#"+nendoroid['number']
					}).appendTo(".cardNendoInnerBorder"+nendoroid['id']);
				
					$("<div/>", {
						"class": "cardNendoName cardNendoName"+nendoroid['id'],
						text: nendoroid['name']
					}).appendTo(".cardNendoInnerBorder"+nendoroid['id']);
				}
			});
		}	

		function nendoAction(nendoroid, action){
			var blockResponse = $(".response");
			$.ajax({
				url: "{{ path('nendoroid_ajax') }}",
				method: "post",
				data: {idNendo : nendoroid, action : action}
			})
			.done(function(data){
				if(action == "addLike")
				{
					likeCpt("incCpt", nendoroid)
				}
				else if(action == "removeLike")
				{
					likeCpt("decCpt", nendoroid)
				}
				var response = data['message'];
				blockResponse.text(response[0]['message'])
						 	 .addClass("responseActive responseOk");
				setTimeout(function () {
					blockResponse.removeClass("responseActive responseOk");
				}, 1500);
			})
			.fail(function(){
				blockResponse.text("Something went wrong")
						  	 .addClass("responseActive responseFail");
				setTimeout(function () {
					blockResponse.removeClass("responseActive responseFail");
				}, 1500);
			});
		}

		function likeCpt(action, idNendo){
			$.ajax({
				url: "{{ path('nendoroid_cpt') }}",
				method: "post",
				data: {idNendo : idNendo , action : action}
			});
		}
	</script>
{% endblock %}